body {
    width: 1170px;
    margin: 50px auto;
    font-family: 'Mulish', sans-serif;
}




/* header related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

nav>ul {
    display: flex;
    gap: 44px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav1 {
    font-size: 2.2rem;
    color: #131318;
    font-weight: 800;
}

.travel {
    color: #FF5400;
    font-weight: 800;
    font-size: 2.2rem;
}

.home {
    color: #FF5400;
    font-weight: 700;
    font-size: 1.2rem;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group13.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
}

.banner-content {
    max-width: 676px;
    text-align: center;
    padding-top: 100px;
    padding-left: 245px;
}

.banner-title {
    font-size: 4rem;
    color: #FFF;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    color: #FFF;
    margin-bottom: 48px;

}

.options {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    border: 0;
    display: inline-flex;
    gap: 24px;
    justify-content: space-around;
    padding: 16px;
    margin-right: 185px;
    margin-left: 185px;
    /* width: 174px; */
    height: 52px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    padding-left: 67px;
    padding-right: 34px;
    border: 0;
    color: #FFF;
    font-weight: 700;
}

input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background: #FFF;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
}

select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background: #FFF;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
}